body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  flex: 1;
  background: linear-gradient(135deg, #cba8d8, #258acd);
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

aside {
  flex: 1;
  display: none;
  background-image: url('assets/weather.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  aside {
    display: block;
  }
}

input {
  width: calc(100% - 90px);
  padding: 20px 10px;
  margin-bottom: 20px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
}

button {
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: white;
  color: #258acd;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
#error {
  color: white;
  text-align: left;
  font-size: 23px;
  display: none;
}
#error > p {
  margin-top: 0;
}
#weatherData {
  color: white;
  font-size: 50px;
  padding-top: 20px;
  display: none;
}
#weatherIcon {
  font-size: 200px;
}
#temp {
  font-weight: bolder;
  margin-bottom: 10px;
}

#details {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 20px;
  font-size: 18px;
  font-weight: 500;
}

.col {
  display: flex;
  align-items: center;
}
.col > div {
  text-align: left;
  margin-left: 10px;
}
#humidityIcon,
#windIcon {
  font-size: 70px;
}
.humidity,
.wind {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {
  #details {
    flex-direction: column;
  }
}
